/* 字体图标定义 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/');
    src: url('../font/?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-playfill:before {
    content: "\e74f";
}

.icon-biaoxingfill:before {
    content: "\e732";
}

.icon-gouwuchefill:before {
    content: "\e73c";
}

.icon-liuyanfill:before {
    content: "\e743";
}

.icon-sousuo:before {
    content: "\e752";
}

.icon-xiangshang1:before {
    content: "\e76d";
}

.icon-xiangxia1:before {
    content: "\e771";
}

.icon-xiangxia2:before {
    content: "\e772";
}

.icon-xiangyou1:before {
    content: "\e775";
}

.icon-caidan:before {
    content: "\e790";
}